<img src="IMAGE1.png" alt="M.P.S" height="1000" width="1500"></a>

THE CODE ABOVE GIVES YOU A WAY YOU INPUT A PICTURE(MEDIA) IN CODE

Data analysis is the process of collecting, modeling, and analyzing data using various statistical and logical methods and techniques. Businesses rely on analytics processes and tools to extract insights that support strategic and operational decision-making.

recall in computational 1 and 2 we learnt on Pandas
A Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data.

We learnt also on Matplotlib, we will up our game by also using another tool called Seaborn
Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics

I have used a clean data set but all cleaning methods we learnt in Computational II , Recall removing null values , avoiding duplicates, removing extremes and making sure your excel sheet is clean.

key areas
1.

In [3]:
import pandas as pd
import numpy as np
import ydata_profiling as pp
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(style="ticks", color_codes=False)
sns.set(rc={'figure.figsize':(20,30)})

#import warnings
#warnings.filterwarnings('ignore')

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [5]:
%matplotlib inline

In [6]:
matplotlib.use('TkAgg')

In [7]:
#data = pd.read_csv("Eric/BlackFriday.csv")
data = pd.read_csv("BlackFriday.csv")

In [8]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [ ]:
pp.ProfileReport(data)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
data.mode()

In [ ]:
data.shape

In [ ]:
data.nunique()

# OPERATIONS IN DATA

In [ ]:
< img src="PICmTds.png" alt="M.P.S" height="1000" width="1500"></a>

In [ ]:
#data_ = data.replace({'F':'0', 'M':'1'}, inplace = False) 
data__ = data.replace({'A' : '1', 'B' : '2' , 'C' : '3'})
data__.head()

In [ ]:
data__1 = data.dropna(subset=['Product_ID', 'Product_Category_1', 'Product_Category_2' ,'Product_Category_3','Stay_In_Current_City_Years', 'City_Category', 'Occupation'])
data__1.head()

In [ ]:
data__2 = data__1.drop(['Product_ID', 'User_ID'], axis = 1)
data__2['Age'].astype('category').cat.as_ordered()
data__2['Age']
data__2.head()

In [ ]:
data__6 = data__2.drop(['Product_Category_1','Stay_In_Current_City_Years', 'Gender', 'Marital_Status'], axis = 1)
data__6.head()

In [15]:
age_dummies = pd.get_dummies(data__2.Age)

In [16]:
City_Category_dummies = pd.get_dummies(data__2.City_Category)

In [17]:
Stay_In_Current_City_Years_dummies = pd.get_dummies(data__2.Stay_In_Current_City_Years)

In [18]:
Occupation_dummies = pd.get_dummies(data__2.Occupation)

In [19]:
Product_Category_1_dummies = pd.get_dummies(data__2.Product_Category_1)

In [20]:
Product_Category_2_dummies = pd.get_dummies(data__2.Product_Category_2)

In [21]:
Product_Category_3_dummies = pd.get_dummies(data__2.Product_Category_3)

In [23]:
 age_dummies,City_Category_dummies,Stay_In_Current_City_Years_dummies,Occupation_dummies,Product_Category_1_dummies,Product_Category_2_dummies,Product_Category_3_dummies

(        0-17  18-25  26-35  36-45  46-50  51-55  55+
 1          1      0      0      0      0      0    0
 6          0      0      0      0      1      0    0
 13         0      0      1      0      0      0    0
 14         0      0      0      0      0      1    0
 16         0      0      0      0      0      1    0
 ...      ...    ...    ...    ...    ...    ...  ...
 537549     0      0      0      0      0      1    0
 537551     0      0      0      0      1      0    0
 537562     0      1      0      0      0      0    0
 537571     0      0      0      1      0      0    0
 537573     0      0      0      1      0      0    0

 [164278 rows x 7 columns],
         A  B  C
 1       1  0  0
 6       0  1  0
 13      1  0  0
 14      1  0  0
 16      1  0  0
 ...    .. .. ..
 537549  0  1  0
 537551  0  0  1
 537562  1  0  0
 537571  0  0  1
 537573  0  0  1

 [164278 rows x 3 columns],
         0  1  2  3  4+
 1       0  0  1  0   0
 6       0  0  1  0   0
 13      0  1  0  0   0
 14      0  1  0  0   0
 16      0  1  0  0   0
 ...    .. .. .. ..  ..
 537549  0  1  0  0   0
 537551  0  0  0  1   0
 537562  0  1  0  0   0
 537571  0  1  0  0   0
 537573  0  1  0  0   0

 [164278 rows x 5 columns],
         0   1   2   3   4   5   6   7   8   9   ...  11  12  13  14  15  16  \
 1        0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
 6        0   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0
 13       0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
 14       0   0   0   0   0   0   0   0   0   1  ...   0   0   0   0   0   0
 16       0   0   0   0   0   0   0   0   0   1  ...   0   0   0   0   0   0
 ...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..
 537549   0   1   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
 537551   0   0   0   1   0   0   0   0   0   0  ...   0   0   0   0   0   0
 537562   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0
 537571   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   1
 537573   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   1

         17  18  19  20
 1        0   0   0   0
 6        0   0   0   0
 13       0   0   0   1
 14       0   0   0   0
 16       0   0   0   0
 ...     ..  ..  ..  ..
 537549   0   0   0   0
 537551   0   0   0   0
 537562   0   0   0   1
 537571   0   0   0   0
 537573   0   0   0   0

 [164278 rows x 21 columns],
         1   2   3   4   5   6   8   10  11  12  13  15
 1        1   0   0   0   0   0   0   0   0   0   0   0
 6        1   0   0   0   0   0   0   0   0   0   0   0
 13       1   0   0   0   0   0   0   0   0   0   0   0
 14       0   0   0   0   1   0   0   0   0   0   0   0
 16       0   1   0   0   0   0   0   0   0   0   0   0
 ...     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
 537549   0   1   0   0   0   0   0   0   0   0   0   0
 537551   0   0   0   0   1   0   0   0   0   0   0   0
 537562   1   0   0   0   0   0   0   0   0   0   0   0
 537571   1   0   0   0   0   0   0   0   0   0   0   0
 537573   1   0   0   0   0   0   0   0   0   0   0   0

 [164278 rows x 12 columns],
         2.0   3.0   4.0   5.0   6.0   8.0   9.0   10.0  11.0  12.0  13.0  \
 1          0     0     0     0     1     0     0     0     0     0     0
 6          0     0     0     0     0     1     0     0     0     0     0
 13         1     0     0     0     0     0     0     0     0     0     0
 14         0     0     0     0     0     1     0     0     0     0     0
 16         0     1     0     0     0     0     0     0     0     0     0
 ...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 537549     0     0     0     0     0     1     0     0     0     0     0
 537551     0     0     0     0     1     0     0     0     0     0     0
 537562     0     0     0     0     0     0     0     0     0     0     1
 537571     1     0     0     0     0     0     0     0     0     0     0
 537573     0     0     0     0     0     0     0     0     0     0     0

         14.0  15.0  16.0
 1          0     0     0
 6          0     0     0
 13         0     0     0
 14         0     0     0
 16         0     0     0
 ...      ...   ...   ...
 537549     0     0     0
 537551     0     0     0
 537562     0     0     0
 537571     0     0     0
 537573     0     1     0

 [164278 rows x 14 columns],
         3.0   4.0   5.0   6.0   8.0   9.0   10.0  11.0  12.0  13.0  14.0  \
 1          0     0     0     0     0     0     0     0     0     0     1
 6          0     0     0     0     0     0     0     0     0     0     0
 13         0     0     1     0     0     0     0     0     0     0     0
 14         0     0     0     0     0     0     0     0     0     0     1
 16         0     1     0     0     0     0     0     0     0     0     0
 ...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
 537549     0     0     0     0     0     0     0     0     0     0     1
 537551     0     0     0     0     1     0     0     0     0     0     0
 537562     0     0     0     0     0     0     0     0     0     0     1
 537571     0     0     1     0     0     0     0     0     0     0     0
 537573     0     0     0     0     0     0     0     0     0     0     0

         15.0  16.0  17.0  18.0
 1          0     0     0     0
 6          0     0     1     0
 13         0     0     0     0
 14         0     0     0     0
 16         0     0     0     0
 ...      ...   ...   ...   ...
 537549     0     0     0     0
 537551     0     0     0     0
 537562     0     0     0     0
 537571     0     0     0     0
 537573     0     1     0     0

 [164278 rows x 15 columns])

## ** UNIVARIATE ANALYSIS

In [24]:
data__2['Stay_In_Current_City_Years'].value_counts().plot.bar()
#data__2['Stay_In_Current_City_Years'].value_counts()

## FINDINGS 
    -Most buyers have lived in the city for one year

#### Marital_Status

In [25]:
data__2['Marital_Status'].value_counts().plot.bar()

## Findings
    -Majority are not married

#### City_Category

In [26]:
#data__2['City_Category'].plot.bar() 
data__2['City_Category'].value_counts().plot.bar()

## Findings

      -Most buyers are from city B

#### Purchase

In [27]:
data__2['Purchase'].plot.hist()

In [28]:
data__2[data__2['Purchase']==15879]['Purchase']

942       15879
9094      15879
22207     15879
24410     15879
45310     15879
          ...
489126    15879
494808    15879
495141    15879
499784    15879
531648    15879
Name: Purchase, Length: 68, dtype: int64

#### Product_Category_1

In [29]:
data__2['Product_Category_1'].unique()

array([ 1,  5,  2,  6,  3,  4,  8, 12, 11, 10, 15, 13], dtype=int64)

#### Product_Category_2

In [30]:
data__2['Product_Category_2'].plot.hist()

#### Product_Category_3

In [31]:
data__2['Product_Category_3'].plot.hist()

#### Age

In [32]:
#data__2['Age'].plot.hist() 
data__2['Age'].value_counts().plot.bar()

## Findings
    -Majority of the buyers are in the age bracket 26-35

#### Occupation

In [33]:
data__2['Occupation'].value_counts().plot.bar() 
#data__2['Occupation'].value_counts()

## Findings
    -Most of the buyers have the occupation 4

## Bivariate Analysis

### Pair plots

In [34]:
plt.figure(figsize=(6,4))
sns.pairplot(data__2)

### Coorelation Heatmap

In [35]:
plt.figure(figsize=(12, 8))

data__3 = data__2.corr()
sns.heatmap(data__3, 
            xticklabels = data__3.columns.values,
            yticklabels = data__3.columns.values,
            annot = True);

## Findings
    -Product_cartegory_2 and Product_cartegory_1 have coorelation of 0.5
    -Product_cartegory_2 and Product_cartegory_3 have coorelation of 0.54

In [36]:
data__2.plot.area()

In [37]:
fig = plt.figure(figsize=(8,6))

plt.scatter(data__2['Age'], data__2['Purchase'])
plt.xlabel('Age')
plt.ylabel('Purchase')
plt.grid()
#plt.legend(loc='upper right')

plt.gcf().autofmt_xdate()

plt.show()

## HYPOTHESIS TESTING BY COMPARING VARIOUS COLUMNS IN THE DATA

### -Is a particular age group purchasing a certain product cartegory more than others

In [38]:
plt.plot(data__2['Age'], data__2['Product_Category_1']).hist()

AttributeError: 'list' object has no attribute 'hist'

In [39]:
plt.plot(data__2['Age'], data__2['Product_Category_2']).bar()

AttributeError: 'list' object has no attribute 'bar'

In [40]:
plt.plot(data__2['Age'], data__2['Product_Category_3']).bar()

AttributeError: 'list' object has no attribute 'bar'

### Are people of a particular occupation buying a certain Product_Category more, and if so, which one

In [41]:
plt.plot(data__2['Occupation'], data__2['Product_Category_1'])
plt.plot(data__2['Occupation'], data__2['Product_Category_2'])
plt.plot(data__2['Occupation'], data__2['Product_Category_3'])

### -Which gender is  buying a certain Product_Category more, and if so, which one

In [42]:
plt.plot(data__2['Gender'], data__2['Product_Category_1'])
#plt.plot(data__2['Gender'], data__2['Product_Category_2'])
#plt.plot(data__2['Gender'], data__2['Product_Category_3'])

### Which product are married people buying alot

In [43]:
plt.plot(data__2['Marital_Status'], data__2['Product_Category_1'])
plt.plot(data__2['Marital_Status'], data__2['Product_Category_2'])
plt.plot(data__2['Marital_Status'], data__2['Product_Category_3'])

### Which age group purchases alot

In [ ]:
plt.plot(data__2['Age'], data__2['Purchase'])

### Which product_category has a high effect of the purchase

### Which product is being bought by people from diffrent cities

In [ ]:
plt.plot(data__2['City_Category'], data__2['Product_Category_3'])
plt.plot(data__2['City_Category'], data__2['Product_Category_2'])
plt.plot(data__2['City_Category'], data__2['Product_Category_1'])

### People from which city purchase alot

In [ ]:
plt.plot(data__2['City_Category'], data__2['Purchase'])
#plt.show()

## Preparation of the model

In [ ]:
df = pd.concat([data__6,age_dummies], axis = 1)

#df = pd.concat([data__6,age_dummies,City_Category_dummies], axis = 1)

X = df.drop(['Age','City_Category'], axis = 1)
#Y = pd.get_dummies(data__2.Purchase)
Y = data__2['Purchase'] 
X.head()

In [ ]:
#data__2.dtypes
#data__2 = data__2.convert_objects(convert_numeric=True)
#data__3 = pd.to_numeric(data__2)


#X = data__2.drop(['Purchase', 'Age','Stay_In_Current_City_Years','Product_Category_2', 'City_Category', 'Marital_Status', 'Product_Category_3', 'Product_Category_2','Gender'],axis = 1)
#Y = data__2['Purchase']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)  
X_test = sc.fit_transform(X_test)
#Y_train = sc.fit_transform(Y_train)
#Y_test = sc.fit_transform(Y_test)

## Regression plots

In [ ]:
sns.regplot(x = 'Product_Category_1', y = 'Product_Category_2', data = data__2)

In [ ]:
sns.regplot(x = 'Product_Category_3', y = 'Purchase', data = data__2)

In [ ]:
sns.regplot(x = 'Product_Category_1', y = 'Product_Category_3', data = data__2)

In [ ]:
sns.regplot(x = 'Marital_Status', y = 'Occupation', data = data__2)

### Lets do some Cross Validation on the data

In [ ]:
from sklearn.model_selection import  cross_val_score

In [ ]:
from sklearn.linear_model import LinearRegression
lr =LinearRegression()

In [ ]:
print(cross_val_score(lr, X, Y, cv = 3))

## Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()
lr.fit(X_train, Y_train)

In [ ]:
lr.score(X_test, Y_test)

In [ ]:
predictions = lr.predict(X_test)
predictions

In [ ]:
from scipy import stats

slope, intercept, r_value, p_value, std_err = stats.linregress(X_train, Y_train)
r_value ** 2

In [ ]:
plt.scatter(Y_test, predictions)
#plt.plot(Y_test, predictions, c='r')
#plt.show()

In [ ]:
print(lr.intercept_)
print(lr.coef_)

## Polynomial Regression Model

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
pr = Polynomial(degree=4)
xp = np.linspace(0, 7, 10)
plt.scatter(data__2['Occupation'].values, data__2['Purchase'].values)
plt.plot(xp, pr(xp), c='r')
plt.show()

In [ ]:
from sklearn.metrics import r2_score

r2 = r2_score(data__2['Purchase'], pr(data__2['Occupation']))

print(r2)

In [ ]:

pr1 = PolynomialFeatures(degree=4)
X_poly = pr1.fit_transform(X_train)
X_test_poly = pr1.transform(Y_train)
#lr.fit(X_poly, Y_train)
lr.predict(X_test)
#lr.score(X_test,Y_test)

In [ ]:
#plt.scatter(X_train, Y_train, color = 'blue')
plt.plot(lr.predict(X_poly), color = 'r')

In [ ]:
X_test

<img src="Desktop/the_end.jpg" alt="C.E.O" height="1200" width="1200"></a>